@import "../cssControl/control";

/*恒阳大都会*/
/*20150128 众筹规则与流程*/
.d6128-tit{background:#fff url("../images/activity/sm_02.jpg") center no-repeat; .wh(auto,150px); }

.d6128-info1{.wh(auto,auto);padding-bottom: 50px; overflow: hidden}

.d6128-tits{.wh(100%,55px,55px); color: @gray-dark; font-size: 22px; border-bottom: 1px dotted @gray; margin-top: 20px}
.d6128-tits1{.wh(100%,55px,55px); color: @gray-dark; font-size: 16px; margin-top: 45px}

.d6128-txt{font-size: 16px; color: @gray-dark; line-height:24pt; margin-top: 20px}

.d6128-info2{.wh(auto,auto); padding-bottom: 50px; background: #fff; overflow: hidden}
.d6128-info2 .main-width,.d6128-info1 .main-width{width: 980px;}

.d6329-tits1{.wh(100%,40px,40px); color: @gray-dark; font-size: 20px; margin-top: 45px}
.d6329-txt{font-size: 16px; color: @gray-dark; line-height:24pt; }
.d6329-tits{.wh(100%,30px,30px); color: @gray-dark; border-bottom: 1px dotted @gray; }
.img_w980{.wh(980px,auto)}