@import "../cssControl/control";

/*20150128 众筹规则与流程*/
.d6128-tit {
  background: #fff url("../images/activity/sm_02.jpg") center no-repeat;
  .wh(auto, 150px);
}

.d6128-info1 {
  .wh(auto, auto);
  padding-bottom: 50px;
  overflow: hidden
}

.d6128-tits {
  .wh(100%, 55px, 55px);
  color: @gray-dark;
  font-size: 22px;
  border-bottom: 1px dotted @gray;
  margin-top: 20px
}

.d6128-tits1 {
  .wh(100%, 55px, 55px);
  color: @gray-dark;
  font-size: 16px;
  margin-top: 45px
}

.d6128-txt {
  font-size: 16px;
  color: @gray-dark;
  line-height: 24pt;
  margin-top: 20px
}

.d6128-info2 {
  .wh(auto, auto);
  padding-bottom: 50px;
  background: #fff;
  overflow: hidden
}

.d6128-info2 .main-width, .d6128-info1 .main-width {
  width: 980px;
}

.d6329-tits1 {
  .wh(100%, 40px, 40px);
  color: @gray-dark;
  font-size: 20px;
  margin-top: 45px
}

.d6329-txt {
  font-size: 16px;
  color: @gray-dark;
  line-height: 24pt;
}

.d6329-tits {
  .wh(100%, 30px, 30px);
  color: @gray-dark;
  border-bottom: 1px dotted @gray;
}

.img_w980 {
  .wh(980px, auto)
}

/*西城御府-房未来*/
.d20170512-bg {
  width: 100%;
  overflow: hidden;
  min-width: 1300px;
  &.img1 {
    height: 1062px;
    background: url("../images/activity/fel_img_01.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img2 {
    height: 754px;
    background: url("../images/activity/fel_img_02.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img3 {
    height: 541px;
    background: url("../images/activity/fel_img_03.jpg") center top no-repeat;
    background-size: auto 100%;
  }
}

/*武胜东樾府专题页*/
.d20170810-bg {
  width: 100%;
  overflow: hidden;
  background: #242434;
  font-weight: lighter;
  &.img1 {
    height: 660px;
    background:url("../images/activity/dyf/dyf_01.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img2 {
    height: 556px;
    background:url("../images/activity/dyf/dyf_02.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img3 {
    .content{width:682px;margin:30px auto;color:#f1ecd3;font-size:23px;line-height:36px;text-align: center;}
  }
  &.img4 {
    height: 615px;
    background:url("../images/activity/dyf/dyf_04.jpg") center top no-repeat;
    background-size: auto 100%;

    .content{.wh(853px,auto,20px);color:#f1ecd3;font-size:20px;margin:119px auto 0;
      .items{.wh(1080px,auto);}
      .item{display:block;.wh(381px,83px,25px);overflow:hidden;background-color: #242434;float:left;margin-right:156px;padding:15px 50px 0 0;}
    }
  }
  &.img5 {
    height: 636px;
    background:url("../images/activity/dyf/dyf_05.jpg") center top no-repeat;
    background-size: auto 100%;

    .content{.wh(853px,auto,20px);color:#f1ecd3;font-size:20px;margin:136px auto 0;
      .items{.wh(1080px,auto);}
      .item{display:block;.wh(381px,80px,25px);overflow:hidden;background-color: #242434;float:left;margin-right:156px;padding:15px 50px 0 0;}
    }
  }
  &.img6 {
    height: 340px;
    background:url("../images/activity/dyf/dyf_06.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img7 {
    height: 717px;
    background:url("../images/activity/dyf/dyf_07.jpg") center top no-repeat;
    background-size: auto 100%;

    .flexslider{.wh(930px,600px);margin:65px auto 0;background:#242434;
      .slides{.wh(100%,549px);overflow: hidden;}
      .flex-control-nav {
        li {
          a {
            width: 16px;
            height: 16px;
            border: 1px solid #924b48;
            background: none;
            &.flex-active {
              background: #924b48;
              cursor: default;
            }
          }
        }
      }
    }
  }
  &.img8 {
    height: 352px;
    background:url("../images/activity/dyf/dyf_08.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img9 {
    .content{width:945px;margin:40px auto;color:#f1ecd3;font-size:20px;line-height:35px;text-indent: 2em;}
  }
  &.img10 {
    height: 820px;
    background:url("../images/activity/dyf/dyf_10.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img11 {
    height: 413px;
    background:url("../images/activity/dyf/dyf_11.jpg") center top no-repeat;
    background-size: auto 100%;
  }
}


/*东樾府活动页*/
.d20170925-bg {
  width: 100%;
  min-width:1200px;
  overflow: hidden;
  background: #fff;
  &.img1 {
    height: 809px;
    background:url("../images/activity/dyf2/img_01.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img2 {
    height: 790px;
    background:url("../images/activity/dyf2/img_02.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img3 {
    height: 589px;
    background:url("../images/activity/dyf2/img_03.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img4 {
    height: 1023px;
    background:url("../images/activity/dyf2/img_04.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img5 {
    height: 822px;
    background:url("../images/activity/dyf2/img_05.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img6 {
    height: 1009px;
    background:url("../images/activity/dyf2/img_06.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img7 {
    height: 420px;
    background:url("../images/activity/dyf2/img_07.jpg") center top no-repeat;
    background-size: auto 100%;
  }

  &.img8 {
    height: 774px;
    background:url("../images/activity/dyf2/img_08.jpg") center top no-repeat;
    background-size: auto 100%;

    .flexslider{.wh(1033px,645px);margin:33px auto 0;
      .slides{.wh(100%,575px);overflow: hidden;}
      .flex-control-nav {
        bottom:10px;
        li {
          a {
            width: 30px;
            height: 30px;
            border: 1px solid #924b48;
            background: none;
            &.flex-active {
              background: #924b48;
              cursor: default;
            }
          }
        }
      }
    }
  }
}

/*东樾府活动页*/
.d20171020-bg {
  width: 100%;
  min-width:1200px;
  overflow: hidden;
  &.img1 {
    height: 739px;
    background:url("../images/activity/dyf3/img_01.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img2 {
    height: 736px;
    background:url("../images/activity/dyf3/img_02.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img3 {
    height: 794px;
    background:url("../images/activity/dyf3/img_03.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img4 {
    height: 710px;
    background:url("../images/activity/dyf3/img_04.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img5 {
    height: 568px;
    background:url("../images/activity/dyf3/img_05.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img6 {
    height: 784px;
    background:url("../images/activity/dyf3/img_06.jpg") center top no-repeat;
    background-size: auto 100%;
  }
  &.img7 {
    height: 690px;
    background:url("../images/activity/dyf3/img_07.jpg") center top no-repeat;
    background-size: auto 100%;

    .title{font-size:28px;color:#a44b49;text-align: center;margin-top:60px;}

    .flexslider {background: none;
      .wh(930px, 540px);
      margin: 20px auto 0;
      .slides {
        .wh(100%, 495px);
        overflow: hidden;
      }
      .flex-control-nav {
        bottom: 10px;
        li {
          a {
            width: 18px;
            height: 18px;
            border: 1px solid #924b48;
            background: none;
            &.flex-active {
              background: #924b48;
              cursor: default;
            }
          }
        }
      }
    }
  }
  &.img8 {
    height: 571px;
    background:url("../images/activity/dyf3/img_08.jpg") center top no-repeat;
    background-size: auto 100%;
  }
}

