@import "../cssControl/control";

.wrap-gray-bg{background: @gray-bg;}
.dz-house-wrap{.main-width;margin-top:25px;
  .left-box{.wh(798px,605px);background: #ffffff;overflow: hidden;}
  .right-box{.wh(377px,605px);background: #ffffff;overflow: hidden}
}