@import "../cssControl/import";

/*首页*/
.map-wrap{.main-width;margin-top:78px;padding-left:40px;display: block;
  .map-box{text-align: center;float: left;font-size:16px;margin-right:116px;
    .img{.wh(120px,120px);}
    .title1{margin-top:20px;color:@txt-black;}
    .title2{color:@gray-border;margin-top:5px;}
  }

  .map4{.wh(335px,202px,202px);border:1px solid @gray-border;text-align: center;
    .img{.wh(305px,172px);}
  }
}

/*标题*/
.title-wrap{text-align: center;margin-top:102px;
  .title{font-size: 30px;color:@txt-black;}
  .tit{font-size: 14px;color:@gray;margin-top:15px;}
}
/*查看更多*/
.link-more{display:block;margin-top:20px;color:@gray;.main-width;height:43px;line-height:43px;background: @gray-bg;text-align: center;
  &:hover{.box-shadow(0,1px,3px 0,rgba(127, 133, 163, 0.6) inset);text-decoration: none;.transition(0.3s);}
}

/*定制项目*/
.dz-wrap{.main-width;overflow: hidden;
  .dz-list-box{display:block;margin-top:40px;border:1px solid @gray-border;padding:40px 0px;
    &:hover{border-color: @red;.box-shadow(0px,8px,8px,#E8E8E8);.transition(0.3s);}
  }

  .dz-left-box{.wh(650px,365px);margin-left:40px;overflow: hidden;position:relative;
    .img{.wh(650px,365px);overflow: hidden;}
  }

  .dz-right-box{margin-right:40px;.wh(427px,365px);overflow: hidden;
    .dz-title{width:100%;font-size: 18px;color:@txt-black;.ellipse;}
    .desc-list{
      span{float:left;color:@blue;font-size:12px;display:block;height:29px;line-height:29px;padding:0 10px;margin-right:10px;margin-top:20px;border:1px solid @blue;.round(4px);}
    }

    .dz-msg-list{margin-top:20px;
      li{.ellipse;.wh(100%,30px,30px);}
      .tit{margin-right:12px;color:@gray;}
      .con{color:@txt-black;}
    }

    .btn-sign{.btn-red-full();width:173px;margin-top:46px;font-size:16px;.textshadow(0,-1px,0,@red-dark);}
  }
}

/*咨询公告*/
.message-wrap{.main-width;margin-top:68px;
  .left-box{.wh(638px,auto);}
  .right-box{.wh(465px,auto);}

  /*标题列表*/
  .title{.wh(100%,64px,64px);
    .tit{color:@txt-black;font-size: 18px;}
    .article-more{color:@gray;font-size: 12px;.wh(75px,25px,25px);.round(100px);margin-top:19px;padding:0 12px;
      &:hover{background: @gray-bg;border:1px solid @gray-border;text-decoration: none;}
    }
  }

  .msg-list{overflow: hidden;.wh(100%,260px);
    a{display:block;}
    .tit{display:block;width:70%;.ellipse;font-size:16px;color: @txt-black;}
    .day{font-size:14px;color:@gray;}

    &.list1{
      li{.wh(100%,64px,64px);border-bottom:1px solid @gray-bg;}
    }

    &.list2{
      li{.wh(100%,64px,64px);border-bottom:1px solid @gray-border2;padding:0 23px;
        &:hover{background: @gray-bg;.transition(0.3s);}
      }
      &.border{border:1px solid @gray-border2;border-width:1px 1px 0px 1px;.round(10px);}
    }
  }
}