@import "../cssControl/control";

/*首页*/
.map-wrap{.main-width;margin-top:78px;padding-left:40px;display: block;
  .map-box{text-align: center;float: left;font-size:16px;margin-right:116px;
    .img{.wh(120px,120px);}
    .title1{margin-top:20px;color:@txt-black;}
    .title2{color:@gray-border;margin-top:5px;}
  }

  .map4{.wh(335px,202px,202px);border:1px solid @gray-border;text-align: center;
    .img{.wh(305px,172px);}
  }
}

/*标题*/
.title-wrap{text-align: center;margin-top:102px;
  .title{font-size: 30px;color:@txt-black;}
  .tit{font-size: 14px;color:@gray;margin-top:15px;}
}
/*查看更多*/
.link-more{display:block;margin-top:20px;color:@gray;.main-width;height:43px;line-height:43px;background: @gray-bg;text-align: center;
  &:hover{.box-shadow(0,1px,3px 0,rgba(127, 133, 163, 0.6) inset);text-decoration: none;.transition(0.3s);}
}

/*定制项目*/
.dz-wrap{.main-width;overflow: hidden;
  .dz-list-box{display:block;margin-top:40px;border:1px solid @gray-border;padding:40px 0px;position: relative;
    &:hover{border-color: @red;.box-shadow(0px,8px,8px,#E8E8E8);.transition(0.3s);}
  }

  .dz-left-box{.wh(650px,365px);margin-left:40px;overflow: hidden;position:relative;
    .img{.wh(650px,365px);overflow: hidden;}
  }

  .dz-right-box{margin-right:40px;.wh(427px,365px);overflow: hidden;
    .dz-title{width:100%;font-size: 18px;color:@txt-black;.ellipse;}
    .desc-list{
      span{float:left;color:@blue;font-size:12px;.rotate(4px);display:block;height:29px;line-height:29px;padding:0 10px;margin-right:10px;margin-top:19px;border:1px solid @blue;.round(4px);}
    }

    .dz-msg-list{margin-top:20px;
      li{.ellipse;.wh(100%,40px,40px);
        &:nth-child(odd){background: @gray-bg;}
        &:nth-child(even){background: @gray-hover;}
      }
      .tit{margin-right:12px;color:@gray;margin-left:15px;}
      .con{color:@txt-black;margin-right:15px;}
    }
    .spe-price{color:@gray;.wh(100%,24px,24px);margin-top:22px;
      &>.red{font-size:26px;}
    }

    .bottom-box{margin-top:20px;
      .btn-sign{.btn-red-full();width:173px;font-size:16px;.textshadow(0,-1px,0,@red-dark);}
      .btn-disabled{.btn-disabled();width:173px;font-size:16px;color:#888888;.textshadow(0,2px,0,#ffffff);}

      .thumbs-box{height:24px;line-height:24px;margin-left:15px;margin-top:22px;padding-left:20px;background: url("../images/icon/thumbs.png") left center no-repeat;}
    }

  }
}
/*mark图标
mark1:报名中
mark2:定制选房
mark3:签约
mark4:签约成功
*/
.mark-icon{display:block;.wh(120px,120px);position: absolute;top:35px;right:16px;
  &.mark1{background: url("../images/icon/hmask1.png") no-repeat 100% 100%;}
  &.mark2{background: url("../images/icon/hmask2.png") no-repeat 100% 100%;}
  &.mark3{background: url("../images/icon/hmask3.png") no-repeat 100% 100%;}
  &.mark4{background: url("../images/icon/hmask4.png") no-repeat 100% 100%;}
}


/*咨询公告*/
.message-wrap{.main-width;margin-top:68px;margin-bottom:132px;
  .left-box{.wh(638px,auto);}
  .right-box{.wh(465px,auto);}

  /*标题列表*/
  .title{.wh(100%,64px,64px);
    .tit{color:@txt-black;font-size: 18px;}
    .article-more{color:@gray;font-size: 12px;.wh(75px,25px,25px);border:1px solid transparent;.round(100px);margin-top:19px;padding:0 12px;background:url("../images/icon/more_arr.png") right 6px center no-repeat;
      &:hover{background-color: @gray-bg;border:1px solid @gray-border;text-decoration: none;.transition(.3s);}
    }
  }

  .msg-list{overflow: hidden;.wh(100%,260px);
    a{display:block;}
    .tit{display:block;width:70%;.ellipse;font-size:16px;color: @txt-black;}
    .day{font-size:14px;color:@gray;}

    &.list1{
      li{.wh(100%,64px,64px);border-bottom:1px solid @gray-bg;}
    }

    &.list2{
      li{.wh(100%,64px,64px);border-bottom:1px solid @gray-border2;padding:0 23px;
        &:hover{background: @gray-bg;.transition(0.3s);}
      }
      &.border{border:1px solid @gray-border2;border-width:1px 1px 0px 1px;.round(10px);}
    }
  }
}