/*函数文件*/
/*路径定义*/
/*网站总宽*/
.main-width {
  width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*网站主色*/
/*字体颜色*/
/*提示颜色*/
/*失效颜色*/
/*文字省略*/
.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*样式函数定义*/
/*
盒子阴影
@s 右边阴影为正数 左边负数
@y 下边阴影为正数 上边负数
@blur  阴影大小
@color 阴影颜色
*/
/*
定义圆角
@radius 圆角大小
*/
/*
文字阴影,可以指定多组阴影
@right_left1 右边阴影为正数 左边负数
@bottom_top1 下边阴影为正数 上边负数
<a href="http://my.oschina.net/text" class="referer" target="_blank">@text</a>  阴影大小
@text_color 阴影颜色
*/
/*
透明度 或渐变 1为不透明 0透明
css3 rgba(110, 142, 185, .4)!important;前三个是颜色值 后一个是透明值
用来兼容所有浏览器
*/
/*
透明背景
@bg:背景色
*/
/*背景渐变
@drc:渐变方向
@start  渐变开始颜色
@end 结束颜色
*/
/*
旋转角度
IE不支持 滤镜支持0，1，2，3
*/
/*背景图*/
/*
@url    图片路径
@r      是否重复(no-repeat)
@x      背景定位 x 轴
@y      背景定位 y 轴
*/
/*按钮预定义文件*/
/*
按钮按下
@red-dark：鼠标按下背景颜色
*/
/*
.btn-*-full：填充背景的按钮（*表示 red：红色，blue：蓝色）
@h：按钮高度变量
通过外部自定义 width 控制按钮宽度
*/
/*
.btn-*-empty：没有背景色（即背景色为白色）的按钮（ * 表示 red：红色，blue：蓝色 ，gray：灰色）
@h：按钮高度变量
通过外部自定义 width 控制按钮宽度
*/
/*
失效按钮（禁止点击）
@h：高度变量
*/
/*表单组件（下拉框等）预定义文件*/
input,
button {
  font-size: 14px;
}
button {
  cursor: pointer;
}
/*下拉选择框*/
.select {
  width: 100%;
  height: 45px;
  position: relative;
  font-size: 14px;
}
.select .form-control {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #7f85a3;
  padding: 0 12px;
  box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
  background: #eff2f9;
  background: url("../images/icon/select_ico.png") right 20px center no-repeat, linear-gradient(to bottom, #eff2f9, #dbe0ed);
}
.select .select-box {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}
.select .select-box ul {
  min-width: 100%;
  max-height: 450px;
  background: #fff;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #c3c9d8;
}
.select .select-box ul li {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #c3c9d8;
  color: #7f85a3;
  padding: 0px 12px;
  cursor: pointer;
}
.select .select-box ul li:hover {
  background: #eff2f9;
  color: #7f85a3;
  border-top-color: #c3c9d8;
}
.select .select-box:hover ul {
  display: block;
}
/*input输入框
@h:输入框高度
@p:文本框座padding
*/
.parkinglot {
  margin: 48px auto 30px auto;
  width: 1131px;
  height: 286px;
  background-color: #eff2f9;
  border: solid 1px #c3cad8;
}
.parkinglot-info {
  margin: 25px auto 0 auto;
  background-color: #fff;
  width: 1083px;
  height: 164px;
  border: solid 1px #c3cad8;
}
.parkinglot-info_item {
  float: left;
  width: 360px;
  height: 162px;
  padding-top: 42px;
  padding-left: 47px;
  background-color: #ffffff;
  border-left: solid 1px #c3cad8;
}
.parkinglot-info_item:first-child {
  border-left: 0;
}
.parkinglot-info_item p {
  font-size: 14px;
  color: #7f85a3;
}
.parkinglot-info_item p:last-child {
  margin-top: 11px;
}
.parkinglot-info_item p em {
  font-size: 20px;
  color: #2b304d;
  font-style: normal;
  margin-right: 10px;
}
.parkinglot-info_item p span {
  font-size: 20px;
  color: #fd5b5f;
  font-style: normal;
  margin-right: 10px;
}
.myform {
  margin-top: 33px;
}
.btn-myDz {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 34px;
  border-radius: 2px;
  background-color: #fd5b5f;
  border: 0;
  color: #fff;
}
.dz-record {
  margin: 30px auto 110px auto;
  width: 1123.4px;
}
.dz-record .table {
  border-collapse: collapse;
  border: 1px solid #c3cad8;
  width: 100%;
}
.dz-record .table thead th {
  font-size: 14px;
  color: #7f85a3;
  font-weight: normal;
  text-align: left;
  width: 100px;
  height: 50px;
  border-bottom: solid 1px #c3cad8;
}
.dz-record .table tbody td {
  height: 50px;
  border-bottom: solid 1px #c3cad8;
}
.dz-record .table .t_c {
  width: 90px;
  text-align: center;
}
.dz-record .table .t_l {
  padding-left: 24px;
}
.dz-record .table .dz-record_num span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 2px;
  background-color: #eff2f9;
  border: solid 1px #c3cad8;
  font-size: 12px;
  color: #7f85a3;
}
.dz-record .table .dz-record_cw {
  display: inline-block;
  width: 65px;
  height: 27px;
  line-height: 27px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #ffffff, #eff2f9);
  border: solid 1px #c3cad8;
  color: #2b304d;
}
