@import "../cssControl/control";
body{
  background-color: #eff2f9;
}

.d-form{
  .d-form-group{
    margin-top: 35px;
    label{
      color: #7f85a3;
      float: left;
      font-size: 14px;
      line-height: 35px;
    }
    .d-form-control{
      height: 35px;
      margin-left: 14px;
      line-height: 35px;
      float: left;
      .tips-msg{
        display: inline-block;
        line-height: 12px;
        margin-left: 15px;
        height: 12px;
        top: 24%;
        left: 364px;
      }
      .Validform_error{
        border-radius: 3px;
        box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
        border: solid 1px #fd5b5f;
        background: #fff;
      }
      input{
        color: #7f85a3;
        padding-left: 11px;
        width: 222px;
        height: 35px;
        border-radius: 3px;
        background-color: #eff2f9;
        border: solid 1px #c3c9d8;
        box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
        -o-box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
        -webkit-box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
        -moz-box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
        &:focus{
          .transition();
          background: #fff;
        }
      }
      .select{
        width: 222px;
        height: 35px;
        line-height: 35px;
        .form-control{
          height: 35px;
          line-height: 35px;
        }
        .select-box {
          ul {
            li{
              height: 35px;
              line-height: 35px;
              border-left: 1px solid #C3C9D8;
              border-right: 1px solid #C3C9D8;
            }
          }
        }
      }
    }
    .f-btn{
      .btn-red-full();
      width: 173px;
      span{
        font-size: 14px;
        text-shadow: 0 -1px 0 #dc4144;
      }
    }
  }
  .d-danger{
    .d-form-control{
      input{
        box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
        border: solid 1px #fd5b5f;
        background: #ffffff;
      }
    }
  }
}
.personalContainer{
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 1200px;
  .userCustomItem-item{
    margin-top: 32px;
    width: 100%;
    min-height: 150px;
    background-color: @gray-bg;
    border: solid 1px #dbe0ed;
    .round();
    position: relative;
    .nothingItem{
      position: absolute;
      left: 40%;
      top: 40%;
      display: inline-block;
      .icon("../images/icon/warning_tips.png",no-repeat);
      .line-height(20px);
      padding-left: 28px;
      color: @gray;
    }
  }
  .personalRightCon{
    margin-left: 250px;
    position: relative;
    .wh(950px);
    min-height: 1029px;
    background-color: #fff;
    padding: 29px 57px 29px 60px;
    .personalInfo{
      padding-bottom: 32px;
      border-bottom: 1px solid @gray-hover;
      .consumer{
        float: left;
        .phone{
          margin-top: 12px;
          color: #58a4e8;
        }
      }
      .safe{
        float: right;
        ul{
          li{
            margin-left: 54px;
            float: left;
            a{
              span{
                width: 40px;
                height: 40px;
                display: block;
                margin: 0 auto;
                position: relative;
                b{
                  width: 20px;
                  height: 20px;
                  display: block;
                  position: absolute;
                  top: 22px;
                  left: 28px;
                  .icon("../images/icon/dangerous_tips.png",no-repeat);
                }
              }
              p{
                margin-top: 7px;
                color: #7f85a3;
              }
              .safeIcon-phone{
                .icon("../images/icon/group-9.png",no-repeat);
              }
              .safeIcon-idCard{
                .icon("../images/icon/oval-2.png",no-repeat);
              }
              .safeIcon-bankCard{
                .icon("../images/icon/group-23.png",no-repeat);
              }
              .safeIcon-means{
                .icon("../images/icon/group-41.png",no-repeat);
              }
            }
          }
          .safeSuccess{
            span{
              b{
                .icon("../images/icon/success_tips.png",no-repeat);
              }
            }
            .safeIcon-phone{
              .icon("../images/icon/group-21.png",no-repeat);
            }
            .safeIcon-idCard{
              .icon("../images/icon/group-45.png",no-repeat);
            }
            .safeIcon-bankCard{
              .icon("../images/icon/group-19.png",no-repeat);
            }
            .safeIcon-means{
              .icon("../images/icon/group-18.png",no-repeat);
            }
          }
        }
      }
    }

    .personalMoney{
      padding: 32px 0;
      border-bottom: 1px solid @gray-hover;
      position: relative;
      .userMoney-txt{
        color: @gray;
      }
      .TB-icon{
        width: 52px;
        height: 52px;
        .icon("../images/icon/group-6.png",no-repeat)
      }
      .userMoney-sum{
        position: absolute;
        left: 70px;
        top: 34px;
      }
      .userMoney-frozen{
        position: absolute;
        left: 183px;
        top: 34px;
      }
    }

    .userCustomItem{
      padding: 32px 0;
      .userCustomItem-title{
        font-weight: normal;
        color: @txt-black;
      }
    }
  }

  .personalRight{
    padding: 56px 58px;
  }
  /*面包屑样式*/
  .crumbs{
    color: @gray;
    a{
      font-size: 12px;
      color: @gray;
      &:hover{
        padding-bottom: 1px;
        border-bottom: 1px solid @gray;
      }
    }
    span{
      font-size: 12px;
    }
  }

  /*交易记录样式*/
  .personalTra{
    .classify{
      font-size: 12px;
      margin-top: 60px;
      ul{
        li{
          float: left;
          height: 27px;
          line-height: 27px;
          margin-left: 7px;
          font-size: 14px;
          .active{.btn-red-full(@h:27px); font-size: 12px;}
          .unActive{
            &:hover{
              border: 1px solid #eff2f9;
              height:27px;
              line-height:27px;
              display:block;
              background: #eff2f9;
              color:@txt-black;
              .round(3px);
              text-align: center;
            }
          }
          a{
            font-size: 12px;
            display: inline-block;
            color: @txt-black;
            padding: 0 20px;
            line-height: 27px;
            border: 1px solid #fff;
          }
          &:first-child{
            margin-left: 0;
          }
        }
      }
    }
    .screen{
      margin-top: 28px;
      padding-top: 10px;
      .date{
        line-height: 27px;
        float: left;
        li{
          font-size: 14px;
          float: left;
          margin-left: 7px;
          &:first-child{
            margin-left: 0;
          }
        }
        .laydate-icon{
          border-radius: 3px;
          border: solid 1px #c3cad8;
          padding-left: 9px;
          width: 126px;
        }
      }
      .quickBtn{
        float: left;
        margin-left: 17px;
        li{
          float: left;
          height: 27px;
          line-height: 27px;
          margin-left: 7px;
          font-size: 12px;
          .active{.btn-red-full(@h:27px); font-size: 12px;}
          .unActive{
            &:hover{
              border: 1px solid #eff2f9;
              height:27px;
              line-height:27px;
              display:block;
              background: #eff2f9;
              color:@txt-black;
              .round(3px);
              text-align: center;
            }
          }
          a{
            display: inline-block;
            color: @txt-black;
            padding: 0 20px;
            line-height: 27px;
            border: 1px solid #fff;
          }
          &:first-child{
            margin-left: 0;
          }
        }
      }
    }
    .transactionTable{
      margin-top: 28px;
      width: 100%;
      border-collapse: collapse;
      .tr{
        text-align: right;
      }
      tr{
        th{
          padding: 26px 0 28px 0;
          text-align: left;
          border-top: 3px solid #eff2f9;
          font-weight: normal;
          font-size: 14px;
        }
        td{
          text-align: left;
          border-top: 1px solid #eff2f9;
          height: 72px;
          font-size: 14px;
          .txt_gray{
            color: @gray;
          }
        }
        .f18{
          font-size: 18px;
        }
        &:last-child{
          td{
            border-bottom: 1px solid #eff2f9;
          }
        }
      }
    }
  }
  /*消息中心样式*/
  .messageBox{
    /*checkbox 样式*/
    .a_checkbox{
      position: relative;
      display: inline-block;
      cursor: pointer;
      float: left;
      .chk {
        display: none;
      }

      .chk + label {
        background-color: #FFF;
        border: 1px solid #C1CACA;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 5px;
        border-radius: 3px;
        display: inline-block;
        position: absolute;
      }
      .chk + label:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
      }

      .chk:checked + label {
        background-color: #ECF2F7;
        border: 1px solid #92A1AC;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #243441;
      }

      .chk:checked + label:after {
        content: ''; //勾选符号
        width: 100%;
        height: 9px;
        position: absolute;
        background: url("../images/icon/gou.png") no-repeat;
        background-size: 100% 100%;
        top: 0;
        left: 0;
        overflow: hidden;
      }
    }

    .btnGroup{
      margin-top: 63px;
      .btn_sub{
        font-size: 12px;
        width: 65px;
        height:27px;
        line-height:27px;
        background-image: linear-gradient(to bottom, #ffffff, #eff2f9);
        color:#2b314d;
        border:1px solid #c3cad8;
        .round(3px);
        text-align: center;
        display: inline-block;
        padding: 0 5px;
        cursor: pointer;
        overflow: hidden;
        span{
          margin-left: 15px;
          font-size: 12px;
        }
        &:hover{
          background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
        }
      }
      .a_checkbox .chk+label{
        top: 8px;
        left: 6px;
      }
      .btn_pu{
        font-size: 12px;
        height:27px;
        line-height:27px;
        background-image: linear-gradient(to bottom, #ffffff, #eff2f9);
        color:#2b314d;
        border:1px solid #c3cad8;
        .round(3px);
        text-align: center;
        display: inline-block;
        padding: 0 12px;
        overflow: hidden;
        &:hover{
          background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
        }
      }
    }

    table{
      width: 100%;
      border-collapse: collapse;
    }

    .tableBox{
      margin-top: 18px;
      .read{
        .c_ico{background: none};
        td{
            a{
              color: @gray;
            }
          }

      }
      tr{
        td{
          height: 40px;
          border-top: 1px solid @gray-border2;
          border-left:0;
          border-right: 0;
          border-bottom: 0;
          a{
            color: #2b314d;
          }
        }
        &:last-child{
          td{
            border-bottom: 1px solid @gray-border2;
          }
        }
        &:hover{
          background-color: #eff2f9;
          cursor: pointer;
        }
      }
      .a_checkbox{
        .chk+label{
          width: 10px;
          top: -5px;
          left: 12px;
        }
        .chk:checked + label:after{
          //top: -4px;
        }
      }
      .c_chk{
        width: 40px;
      }
      .c_ico{
        width: 50px;
        .icon("../images/icon/group-copy.png",no-repeat,7px,15px);
      }
      .s_time{
        text-align: right;
        padding-right: 12px;
        color: @gray;
      }
    }

    .pages{
      position: absolute;
      bottom: 60px;
      right: 58px;
    }
    .messg_none{
      margin-top: 17px;
      border-top: 1px solid @gray-border2;
      .messg_none_item{
        margin-top: 32px;
        width: 100%;
        min-height: 150px;
        background-color: @gray-bg;
        border: solid 1px #dbe0ed;
        .round();
        position: relative;
        .nothingItem{
          position: absolute;
          left: 40%;
          top: 40%;
          display: inline-block;
          .icon("../images/icon/warning_tips.png",no-repeat);
          .line-height(20px);
          padding-left: 28px;
          color: @gray;
        }
      }
    }
    .message_article{
      margin-top: 18px;
      .readmailinfo{
        padding: 29px 0;
        border-top: 1px solid @gray-border2;
        border-bottom: 1px solid @gray-border2;
        .sub_title{
          margin-top: 11px;
        }
        .sub_time{
          margin-top: 10px;
          color: @gray;
        }
      }
      .message_article_box{
        margin-top: 29px;
      }
    }
  }
  //个人中心样式
  .m-userInfo{
    .s-userBar{
      margin-top: 60px;
      padding-bottom: 20px;
      border-bottom:7px solid #fff;
      border-image:url("../images/myData/border.png") 15 0 15 0 round;
      -o-border-image:url("../images/myData/border.png") 15 0 15 0 round;
      -moz-border-image:url("../images/myData/border.png") 15 0 15 0 round;
      -webkit-border-image:url("../images/myData/border.png") 15 0 15 0 round;
      .d-round-mask{
        width: 97px;
        height: 97px;
        background-size: 100%;
        float: left;
        .icon("../images/myData/oval-6.png",no-repeat);
      }
      .s-baseInfo{
        margin-left: 19px;
        float: left;
        .s-phone{
          margin-top: 25px;
          display: block;
          font-size: 18px;
          color: #77bfff;
        }
        .s-welcome{
          margin-top: 4px;
          font-size: 14px;
        }
      }
    }



    .s-userDetail{
      .p-verticalBor{
        border-bottom:7px solid #fff;
        border-image:url("../images/myData/border.png") 15 0 15 0 round;
        -o-border-image:url("../images/myData/border.png") 15 0 15 0 round;
        -moz-border-image:url("../images/myData/border.png") 15 0 15 0 round;
        -webkit-border-image:url("../images/myData/border.png") 15 0 15 0 round;
        li{
          position: relative;
          a{
            display: none;
            position: absolute;
            width: 65px;
            height: 27px;
            text-align: center;
            line-height: 26px;
            border: 1px solid #c3cad8;
            border-radius: 3px;
            background-image: linear-gradient(to bottom,#fff,#eff2f9);
            color: #2b314d;
            overflow: hidden;
            top: 14px;
            right: 0;
          }
          &:last-child{
            border: 0;
          }
          &:hover{
            a{
              display: block;
            }
          }
        }
      }
      .u-succeed{
          li{
            position: relative;
            height: auto;
            &:hover{
              a{
                display: block;
              }
            }
          }
      }
      .d-userDetail{
        .u-update{
          display: none;
        }
        ul{
          li{
            border-bottom: 1px solid #eff2f9;
            height: 55px;
            line-height: 55px;
            position: relative;
            em{
              font-style: normal;
              font-size: 14px;
              color: #7f85a3;
              width: 61px;
              float: left;
            }
            span{
              margin-left: 56px;
              float: left;
            }
            a{
              display: none;
              position: absolute;
              width: 65px;
              height: 27px;
              text-align: center;
              line-height: 26px;
              border: 1px solid #c3cad8;
              border-radius: 3px;
              background-image: linear-gradient(to bottom, #ffffff, #eff2f9);
              color: #2b314d;
              overflow: hidden;
              top: 14px;
              right: 0;
              &:hover{
                background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
                -webkit-background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
                -moz-background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
                -o-background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
              }
            }
          }
        }
        input[type=text]{
          width: 199px;
          height: 34px;
          line-height: 34px;
          border-radius: 3px;
          padding-left: 18px;
          color: #7f85a3;
          font-size: 14px;
          background-color: #ffffff;
          box-shadow: inset 0 1px 3px 0 rgba(127, 133, 163, 0.53);
          border: solid 1px #c3c9d8;
        }
        input.addr{
          width: 339px;
        }
        .select{
          float: left;
          height: 35px;
          width: 201px;
          margin-left: 56px;
          margin-top: 10px;
          .select-box{
            .form-control{
              height: 35px;
              width: 100%;
              line-height: 35px;
              border-radius: 3px;
              border: solid 1px #c3c9d8;
              font-size: 14px;
              color: #7f85a3;
              padding-left: 18px;
              span{
                margin-left: 0;
              }
            }
            ul{
              min-width: 100%;
              max-height: 450px;
              background: #fff;
              display: none;
              overflow-x: hidden;
              overflow-y: auto;
              border-bottom: 1px solid #C3C9D8;
              position: absolute;
              z-index: 99;
              li{
                width: 100%;
                height: 34px;
                line-height: 34px;
                border-top: 1px solid #C3C9D8;
                border-left: 1px solid #C3C9D8;
                border-right: 1px solid #C3C9D8;
                color: #7F85A3;
                padding: 0 12px;
                cursor: pointer;
              }
            }
          }
        }
        .d-act{
          margin-top: 55px;
          .d-enter{
            margin: 0 auto;
            width: 90px;
            .btn-red-full(34px);
          }
        }
        .err-tips{
          position: absolute;
          display: inline-block;
          margin-left: 10px;
          top: 8px;
        }
      }
    }
  }
}

.recommendBox{
  .r-customer{
    margin-top: 40px;
    .title{
      font-size: 16px;
      font-weight: normal;
    }
    .earn{
      margin-top: 40px;
      ul{
        li{
          float: left;
          padding: 0 25px;
          border-right: 1px solid #c3cad8;
          p{
            font-size: 14px;
            color: #7f85a3;
          }
          span{
            display: inline-block;
            margin-top: 14px;
            font-size: 25px;
          }
          &:first-child{
            padding-left: 0;
          }
          &:nth-child(3){
            border-right: 0;
          }
          &:last-child{
            float: right;
            border-right: 0;
            a{
              font-size: 14px;
              color: #58a4e8;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    table{
      margin-top: 20px;
      width: 100%;
      border-collapse: collapse;
      thead{
        tr{
          td{
            color: #7f85a3;
            font-size: 14px;
            border-bottom: 2px solid #dbe0ed;
            height: 60px;
            width: 120px;;
            &:first-child{
              width: 70px;
            }
            &:nth-child(2){
              width: 140px;
            }
            &:nth-child(3){
              width: 330px;
            }
            &:nth-child(5){
              width: 60px;
            }
          }
        }
      }

      tbody{
        tr{
          td{
            height: 60px;
            color: #2b314d;
            font-size: 14px;
            border-bottom: 1px solid #dbe0ed;
            a{
              text-align: center;
              color: #2b314d;
              font-size: 12px;
              display: inline-block;
              padding: 5px 20px;
              border-radius: 3px;
              background-image: linear-gradient(to bottom, #ffffff, #eff2f9);
              border: solid 1px #c3cad8;
              &:hover{
                background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
              }
            }
          }
        }
      }
      .tr{
        text-align: right;
      }
    }
  }

  .customer-info{
    margin-top: 47px;
    .title{
      font-weight: normal;
      font-size: 25px;
    }
    ul{
      margin-top: 30px;
      border-top: 2px solid #dbe0ed;
      li{
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #dbe0ed;
        p{
          font-size: 14px;
          color: #2b314d;
          float: left;
        }
        .t-t{
          color: #7f85a3;
          width: 70px;
        }
        .t-c{
          margin-left: 10px;
        }
      }
    }
  }

  .partake-pro{
    margin-top: 47px;
    .title{
      font-weight: normal;
      font-size: 25px;
    }
    .partake-pro-con{
      margin-top: 51px;
      ul{
        li{
          zoom:1;
          line-height: 42px;
          margin-top: 25px;
          &:after{
            content:'';
            display:block;
            clear:both;
            overflow:hidden;
            visibility:hidden;
          }
          .p-t{
            float: left;
            color: #7f85a3;
            font-size: 14px;
          }
          .p-c{
            width: 742px;
            float: left;
            font-size: 14px;
            margin-left: 25px;
            .step{
              position: relative;
              width: 743px;
              height: 42px;
              font-size: 14px;
              color: #fff;
              p{
                display: inline-block;
                position: absolute;
                &:first-child{
                  left: 100px;
                }
                &:nth-child(2){
                  left: 340px;
                }
                &:last-child{
                  left: 600px;
                }
              }
            }
            .step-1{
              .icon("../images/user/step-1.png",no-repeat);
              p{
                &:nth-child(2){
                  color: #2b314d;
                }
                &:last-child{
                  color: #2b314d;
                }
              }
            }
            .step-2{
              .icon("../images/user/step-2.png",no-repeat);
              p{
                &:first-child{
                  color: #2b314d;
                }
                &:last-child{
                  color: #2b314d;
                }
              }
            }
            .step-3{
              .icon("../images/user/step-3.png",no-repeat);
              p{
                &:first-child{
                  color: #2b314d;
                }
                &:nth-child(2){
                  color: #2b314d;
                }
              }
            }
            table{
              width: 100%;
              padding: 20px;
              border-collapse: collapse;
              border-top: 1px solid #c3cad8;
              border-left: 1px solid #c3cad8;
              border-right: 1px solid #c3cad8;
              thead{
                td{
                   color: #7f85a3;
                 }
              }
              tbody{
                .p-pos{
                  text-align: left;
                  div{
                    display: inline-block;
                    position: absolute;
                    left: 30px;
                    top: 0;
                  }
                }
              }
              tr{
                td{
                  border-bottom: 1px solid #c3cad8;
                  height: 59px;
                  line-height: 59px;
                  text-align: center;
                  font-size: 14px;
                  &:first-child{
                    width: 130px;
                    padding-left: 34px;
                  }
                }
                .p-pos{
                  position: relative;
                  .p-tips{
                    display: none;
                    position: absolute;
                    top: -37px;
                    left: 58px;
                      .speech{
                        position: relative;
                        width: 163px;
                        text-align: left;
                        padding: 0 15px;
                        line-height: 22px;
                        background-color: #fff;
                        -webkit-box-shadow:  0 1px 7px 0 #c3cad8;
                        -moz-box-shadow:  0 1px 7px 0 #c3cad8;
                        box-shadow:  0 1px 7px 0 #c3cad8;
                        .triangle-down{
                          position: absolute;
                          width: 15px;
                          height: 10px;
                          bottom: -10px;
                          left: 46%;
                          .icon("../images/user/triangle-down.png",no-repeat);
                        }
                      }
                  }
                  .p-tip-icon{
                    position: absolute;
                    display: inline-block;
                    top: 20px;
                    right: 20px;
                    width: 19px;
                    height: 19px;
                    .icon("../images/icon/ask.png",no-repeat);
                  }
                  .p-suss-icon{
                    position: absolute;
                    display: inline-block;
                    top: 20px;
                    right: 25px;
                    width: 19px;
                    height: 19px;
                    .icon("../images/icon/success_tips.png",no-repeat);
                  }
                }
                .tl{
                  text-align: left;
                }
                .c-gray{
                  color: #c3c9d8;
                }
              }
            }
          }
        }
      }
    }
  }
  .d-form{
    padding: 40px 0;
    border-bottom:7px solid #fff;
    border-image:url("../images/myData/border.png") 15 0 15 0 round;
    -o-border-image:url("../images/myData/border.png") 15 0 15 0 round;
    -moz-border-image:url("../images/myData/border.png") 15 0 15 0 round;
    -webkit-border-image:url("../images/myData/border.png") 15 0 15 0 round;
  }
}

/*实名认证*/
.real{
  .d-form{
    .d-form-group{
      margin-top: 0;
      height: 80px;
      line-height: 80px;
      &:nth-child(1){
         border-bottom: 1px solid #eff2f9;
       }
      &:nth-child(2){
        border-bottom: 1px solid #eff2f9;
      }
      label{
        width: 100px;
        line-height: 80px;
      }
      .f-btn{
        margin: 55px auto;
      }
      .d-form-control{
        margin-top: 24px;
      }
    }
  }
}

.explain{
  margin-top: 90px;
  .title{
    font-size: 14px;
    font-weight: normal;
    color: #2b314d;
  }
  .con{
    margin-top: 20px;
    p{
      color: #7f85a3;
      line-height: 24px;
    }
  }
}
.my-project-box{
  margin-top: 23px;
  .my-project{
    padding: 26px 18px 22px 18px;
    display: block;
    border: solid 1px #c3cad8;
    margin-top: 55px;
    &:hover{
      box-shadow: 0 7px 10px 0 #c3cad8;
      border: solid 1px #fd5b5f;
    }
    &:first-child{
      margin-top: 0;
    }
    .pro-title{
      span{
        color: #7f85a3;
        font-size: 14px;
      }
      em{
        font-style: normal;
        font-size: 18px;
        color: #2b314d;
        margin-left: 12px;
      }
    }
    .line{
      height: 1px;
      border-bottom: 1px dashed #c3cad8;
      margin-top: 22px;
      margin-bottom: 25px;
    }
    .pro-con{
      position: relative;
      zoom: 1;
      height: 83px;
      &:after{
        clear: both;
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
      }
      .pro-img, ul{
        float: left;
      }
      .pro-img{
        width: 148px;
        height: 83px;
        border-radius: 3px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }

      ul{
        float: left;
        margin-left: 28px;
        li{
          width: 214px;
          padding-top: 11px;
          padding-bottom: 14px;
          font-size: 14px;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
          em,i{
            font-style: normal;
          }
          span,i{
            color: #7f85a3;
          }
          em{
            width: 182px;
            margin-left: 12px;

          }
          i{
            margin-left: 4px;
          }
        }
        &:last-child{
          position: absolute;
          right: 120px;
        }
      }
    }
    .pro-status{
      width: 100%;
      height: 42px;
      line-height: 42px;
      margin-top: 25px;
      span{
        font-size: 14px;
        color: #2b314d;
        display: inline-block;
        width: 260px;
        text-align: center;
      }
    }
    .pro-status-1{
      .icon("../images/user/step-1.png",no-repeat);
      background-size: 100%;
      span{
        &:first-child{
          color: #fff;
        }
      }
    }
    .pro-status-2{
      .icon("../images/user/step-2.png",no-repeat);
      background-size: 100%;
      span{
        &:nth-child(2){
          color: #fff;
        }
      }
    }
    .pro-status-3{
      .icon("../images/user/step-3.png",no-repeat);
      background-size: 100%;
      span{
        &:last-child{
          color: #fff;
        }
      }
    }
  }
  .pro-details{
    box-shadow: 0 2px 5px 0 #c3cad8;
    &:hover{
      border: solid 1px #c3cad8;
    }
  }
}

.pro-table{
  margin-top: 70px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c3cad8;
  td{
    line-height: 80px;
    height: 80px;
    border-bottom: 1px solid #c3cad8;
    text-align: center;
    font-size: 14px;
    &:first-child{
      width: 135px;
      text-align: left;
      padding-left: 35px;
    }
    &:nth-child(6){
      width: 140px;
    }
  }
  .payment{
    width: 112px;
    position: relative;
    a{
      display: inline-block;
      margin: 0 auto;
      width: 90px;
      .btn-red-full(34px);
    }
    .icon-suss{
      position: absolute;
      width: 18px;
      height: 18px;
      display: block;
      .icon("../images/icon/success_tips.png",no-repeat);
      top: 32px;
      right: 16%;
    }
    b{
      display: inline;
      font-style: normal;
      position: absolute;
      font-weight: normal;
      left: 25%;
      top: 0;
    }
  }
  .tip-gray{
    color: #c3c9d8;
  }
  .btn-see{
    text-align: center;
    width: 90px;
    height: 34px;
    border-radius: 5px;
    border: solid 1px #fd5b5f;
    margin: 0 auto;
    display: block;
    line-height: 34px;
    font-size: 12px;
    color: #fd5b5f;
    &:hover{
      background: #fd5b5f;
      color: #fff;
    }
  }
  .btn-st{
    margin: 0 auto;
    display: block;
    padding: 5px 9px;
    width: 100px;
    height: 27px;
    color: #77bfff;
    line-height: normal;
  }
  .status-tk{
    padding: 5px 9px;
    height: 27px;
    line-height: normal;
  }
  .tips-tk{
    display: inline-block;
    height: 27px;
    color: #77bfff;
  }
  .cancel-tk{
    height: 27px;
    color: #77bfff;
  }
  .download{
    position: relative;
    a{
      color: #77bfff;
    }
    .tips-download-box{
      position: absolute;
      display: none;
      width: 120px;
      line-height: 40px;
      border: 1px solid #c3c9d8;
      border-radius: 3px;
      background: #fff;
      z-index: 3;
      top: 56px;
      left: 11px;
      .tips-download{
        position: relative;
        a{
          display: block;
          height: 39px;
          border-top: 1px solid #c3c9d8;
          &:first-child{
            border: 0;
          }
          &:hover{
            background: #eff2f9;
          }
        }
        .triangle-up{
          position: absolute;
          top:-7px;
          left: 50%;
          margin-left: -7px;
          width: 14px;
          height: 7px;
          display: block;
          .icon("../images/user/triangle-up.png",no-repeat);
        }
      }
    }
  }
  thead{
    color: #7f85a3;
  }
  tbody{
    tr{
      &:last-child{
        td{
          border-bottom: none;
        }
      }
    }
  }
  .table-icon, em{
    float: left;
  }
  em{
    font-style: normal;
    margin-left: 8px;
  }
  .table-icon{
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-top: 29px;
  }
  .icon-one{
    .icon("../images/icon/icon-one.png",no-repeat);
  }
  .icon-one-full{
    .icon("../images/icon/icon-one-full.png",no-repeat);
  }

  .icon-two{
    .icon("../images/icon/icon-two.png",no-repeat);
  }
  .icon-two-full{
    .icon("../images/icon/icon-two-full.png",no-repeat);
  }

  .icon-three{
    .icon("../images/icon/icon-three.png",no-repeat);
  }
  .icon-three-full{
    .icon("../images/icon/icon-three-full.png",no-repeat);
  }
}

//账户管理
.account{
  margin-top: 60px;
  .title{
    h2{
      font-size: 14px;
      font-weight: normal;
      width: 110px;
      padding: 0 19px;
      border-right: 1px solid #c3cad8;
    }
    .line{
      margin-top: 12px;
      height: 1px;
      position: relative;
      border-bottom: 2px solid #c3cad8;
      .t-line{
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        border-bottom: 2px solid #fd5b5f;
      }
    }
  }
  .bind-card{
    .title{
      font-size: 14px;
      font-weight: normal;
    }
    .d-form{
      .d-form-group {
        margin-top: 28px;
      }
      input{
        width: 346px;
      }
      label{
        width: 88px;
      }
    }
  }
}
//我的银行卡
.my-card{
  li{
    width: 352px;
    height: 177px;
    border-radius: 10px;
    float: left;
    border: 1px solid #c3cad8;
    overflow: hidden;
    margin-top: 32px;
    &:hover{
      box-shadow: 0 5px 4px 0 #dbe0ed;
    }
    &:nth-child(2n){
      //margin-left: 130px;
      float: right;
    }
  }

  .my-bank-name{
    height: 47px;
    line-height: 47px;
    background-image: linear-gradient(100deg, #48a9ff, #4987ff);
    color: #fff;
    padding: 0 20px;
  }
  .bank-icon{
    margin-top: 10px;
    margin-left: 12px;
  }
  .my-card-num{
    padding: 0 20px;
    span{
      font-size: 20px;
      float: left;
    }
    a{
      float: right;
      display: block;
      padding: 5px 9px;
      font-size: 12px;
      height: 27px;
      border-radius: 3px;
      background-image: linear-gradient(to bottom, #ffffff, #eff2f9);
      border: solid 1px #c3cad8;
      &:hover{
        background-image: linear-gradient(to bottom, #eff2f9, #ffffff);
      }
    }
  }
  .line{
    width: 312px;
    margin: 9px auto 16px auto;
  }
}