@import "../cssControl/control";

.btn-refer{.btn-red-full();width:100px;}

.box1{width:100px;height:100px;.linear-gradient(#000,#fff);}

.box6{
  .wh(400px);
  height: 500px;
  border: 1px solid red;
  background: red;
}