@import "../cssControl/control";

#input-box{text-align: center;margin-top:20px;
  #input{.input();width:400px;}
}

.auto-hide{position: absolute;.wh(400px,auto);display:none;}
.auto-show{position: absolute;.wh(400px,auto);border:1px solid @gray-border2;z-index:999;display:block;}

.lighten{color:#ffffff;background-color:highlight;width:100%;}
.unlighten{color:#000000;width:100%;background-color: #ffffff;}