.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}

/* FlexSlider Necessary Styles*/
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.flexslider {background: #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }

/* Direction Nav */
.flex-direction-nav a  { text-decoration:none; display: block; width: 60px; height: 87px;position: absolute; top: 50%; z-index: 10; overflow: hidden;cursor: pointer; }
.flex-direction-nav .flex-prev { left:336px;background:url("slide_arr.png") center no-repeat;}
.flex-direction-nav .flex-next { right: 336px;background:url("slide_arr2.png") center no-repeat;}
.flex-direction-nav .flex-prev:hover,.flex-direction-nav .flex-next:hover{background-color:#FD5B5F;border-radius: 5px;background-color: rgba(253, 91, 95, 0.8);border: solid 1px #dc4144;
  transition:All .3s ease-in-out;
  -webkit-transition:All .3s ease-in-out;
  -moz-transition:All .3s ease-in-out;
  -o-transition:All .3s ease-in-out
}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom:20px; text-align: center;z-index: 10;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 16px; height: 16px;border:3px solid  #dbe0ed;display: block; background:#7F85A3;cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a.flex-active { background:#ffffff; cursor: default; }
