/*路径定义*/
/*网站总宽*/
.main-width {
  width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*网站主色*/
/*字体颜色*/
/*提示颜色*/
/*失效颜色*/
/*文字省略*/
.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*样式函数定义*/
/*
盒子阴影
@s 右边阴影为正数 左边负数
@y 下边阴影为正数 上边负数
@blur  阴影大小
@color 阴影颜色
*/
/*
定义圆角
@radius 圆角大小
*/
/*
文字阴影,可以指定多组阴影
@right_left1 右边阴影为正数 左边负数
@bottom_top1 下边阴影为正数 上边负数
<a href="http://my.oschina.net/text" class="referer" target="_blank">@text</a>  阴影大小
@text_color 阴影颜色
*/
/*
透明度 或渐变 1为不透明 0透明
css3 rgba(110, 142, 185, .4)!important;前三个是颜色值 后一个是透明值
用来兼容所有浏览器
*/
/*
透明背景
@bg:背景色
*/
/*背景渐变
@drc:渐变方向
@start  渐变开始颜色
@end 结束颜色
*/
/*
旋转角度
IE不支持 滤镜支持0，1，2，3
*/
/*背景图*/
/*
@url    图片路径
@r      是否重复(no-repeat)
@x      背景定位 x 轴
@y      背景定位 y 轴
*/
